{% extends "tracker/_layouts/base.html" %}
{% block content %}
    {{ funds_prices|json_script:"fprices" }}
    {% for fund in funds_list %}
    <section class="section is-medium" style="padding-top: 12px; padding-bottom: 12px;">
      <div class="container is-block">
        <div class="columns is-centered is-marginless" style="padding: 20px;">
          <div class="column is-two-thirds" style="max-width: 512px; margin: 25px">
              <div class="card">
                <header class="card-header">
                  <p class="card-header-title is-centered" style="font-size: 24px;">
                    {{ fund.ticker }}: {{ fund.ticker_full_name }}
                  </p>
                </header>
                <div class="card-image">
                  <figure class="image is-4by3">
                    <img src="{{MEDIA_URL}}basic-area-chart.svg" alt="Placeholder image">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="columns is-centered">
                    <div class="column" style="display: flex; justify-content: center;">
                      <button class="button is-info is-medium is-static is-light">
                        <b>
                        {{fund.function}}-{{fund.high_freq_period}}: ${{ fund.latest_high_price | floatformat:2 }}
                        </b>
                      </button>
                    </div>
                    <div class="column is-flex-desktop-only" style="display: flex; justify-content: center;">
                      <button class="button is-info is-medium is-static is-light">
                        <b>
                        {{fund.function}}-{{fund.low_freq_period}}: ${{ fund.latest_low_price | floatformat:2 }}
                        </b>
                      </button>
                    </div>
                  </div>
                  <div class="field is-grouped is-grouped-multiline" style="display: flex; justify-content: center;">
                    <div class="control">
                      <div class="tags are-medium has-addons">
                        <span class="tag is-dark">status</span>
                        <span class="tag is-info is-light" style="font-weight: bold">{{ fund.status }}</span>
                      </div>
                    </div>

                    <div class="control">
                      <div class="tags are-medium has-addons">
                        <span class="tag is-dark">streak</span>
                        <span class="tag is-info is-light" style="font-weight: bold;">{{ fund.status_duration }}</span>
                      </div>
                    </div>

                    <div class="control">
                      <div class="tags are-medium has-addons">
                        <span class="tag is-dark">holiday</span>
                        <span class="tag is-info is-light" style="font-weight: bold;">{{ fund.holiday }}</span>
                      </div>
                    </div>
                  </div>
        <!--               <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                    <a href="#">#css</a> <a href="#">#responsive</a>
                    <br>
                    <p>Last refreshed: </p>
                    <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                  </div> -->
                </div>
                  <footer class="card-footer">
                    <p class="card-footer-item">Last refreshed: {{ fund.most_recent_date }}</p>
                  </footer>
              </div>
            </div>
          </div>
        </div>
      </section>
    {% endfor %}
{% endblock content %}